
body {
    text-align: center;
    background-image: url('http://pixelart.yurkevych.pl/img/bg.jpg');
    background-repeat: repeat-x;   
    font-family: Gloria Hallelujah;
}
#colorPicker{
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
}
#inputHeight, #inputWeight {
    height: 30px;
    width: 40px;
    border-radius: 30px;
    border: none;
    color: black;
    background-color: #96ECE3;

    padding-left: 12px;
    font-family: Gloria Hallelujah;
    font-size: 15px;
}
#clear , #sub {
    height: 40px;
    width: 70px;
    background-color:   #96ECE3;
    color: black;
   border-radius: 30px;
    border: none;
    font-family: Gloria Hallelujah;
    font-size: 15px;
}
#clear {
 margin-top: 10px;   
}


i{
    color:  #96ECE3;
}

h1 {
    color : white;
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: Gloria Hallelujah;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
    font-size: 30px; 
    margin-bottom: 9px;
}


h3 {
    font-family: Gloria Hallelujah;
}

table,
tr,
td {
    border: 1px solid crimson;
    border-style: solid;
    border-color: black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
td:hover{
         -webkit-box-shadow: 2px 2px 4px 2px rgba(184,184,184,0.63);
    
         -moz-box-shadow: 2px 2px 4px 2px rgba(184,184,184,0.63);
    
         box-shadow: 2px 2px 4px 2px rgba(184,184,184,0.63);
}

}


switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  background-color:   #96ECE3; 
}

input[type=number] {
    width: 6em;
}
